<footer class="page-footer cyan darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">MEMOS adalah halaman tidak berguna. Entah apa fungsinya YAYYY. Jujur footernya copas ubah dikit dari dokumentasi. Daripada ga dapet akses mendingan cari email dan lakukan action <a href="/" target='_self'>disini</a>. Kamu bisa ngintip <a href="/users" target="_self">semua Todos</a> buat inspirasi </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="">Lalala</a></li>
          <li><a class="grey-text text-lighten-3" href="">Yeyeye</a></li>
          <li><a class="grey-text text-lighten-3" href="">Alay</a></li>
          <li><a class="grey-text text-lighten-3" href="">Dahsyat</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="grey-text text-lighten-4 right" href="">More Links</a>
    </div>
  </div>
</footer>
<script type="text/javascript">
$(document).ready(function() {
    $('table').DataTable({

      "recordsDisplay":15,
      "length": 11,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
    });

    $('[name=DataTables_Table_0_length]').attr('style','float: left;display:inline;');
} );
</script>