<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">E OTORENT COMPANY</h5>
        <p class="grey-text text-lighten-4">Kami adalah sebuah perusahaan penyewa mobil yang berada di Jakarta. Kami beriorientasi pada jasa penyewaan mobil dan keragaman mobil. Telp : (021)89096788 email : deri@gmail.com</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Tweeter</a></li>
          <li><a class="white-text" href="#!">Github</a></li>
          <li><a class="white-text" href="#!">blog</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">About Us</a></li>
          <li><a class="white-text" href="#!">Location</a></li>
          <li><a class="white-text" href="#!">Rent Agreement</a></li>
          <li><a class="white-text" href="#!">Carrier</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Deri Kurniwan Materialize CSS</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javasripts/materialize.js"></script>
<script src="javascripts/init.js"></script>

</body>
</html>
