<!DOCTYPE html>
<html>
  <head>
    <title>EXPRESS RESTFULL CRUD</</title>
  </head>
<body>
  <form action="/users/create" method="post" class="">
    <table class="table">
      <tr class="form-group">
        <td>First Name </td>
        <td>:</td>
        <td><input type="text" name="firstname" placeholder="First Name"></td>
      </tr>

      <tr>
        <td>Last Name </td>
        <td>:</td>
        <td><input type="text" name="lastname" placeholder="Last Name"></td>
      </tr>

      <tr>
        <td>Email </td>
        <td>:</td>
        <td><input type="text" name="email" placeholder="Input Alamat Email"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</body>
</html>
