<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h1>Welcome to MEMO by svi!</h1>
        </div>
      </div>
    </div>
    <div class="container">
    </div>
    <div class="container">
      <form class="" action="" method="post">
        <div class="row">
          <div class="input-field col s12 center">
            <input placeholder="Email" name="email" type="email" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 center">
            <button type="submit" class="waves-effect waves-light btn-large orange"><i class="material-icons right">mode_edit</i>ENTER</button>
          </div>
        </div>
      </form>
    </div>
    <div class="container">
    </div>
    <div class="container">
      <div class="row">
        <div class="input-field col s12 center">
          <a href="./user/create" class="waves-effect waves-light btn-large"><i class="large material-icons left">perm_identity</i>I'm a new user</a></div>
      </div>
    </div>
  </body>
</html>
