<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 center">
          <h1>Welcome to MEMO by svi!</h1>
        </div>
      </div>
    </div>
    <div class="container">
    </div>
    <div class="container">
      <div class="row">
        <div class="input-field col s12 center">
          <a href="./users/create" class="waves-effect waves-light btn-large"><i class="large material-icons left">perm_identity</i>I'm a new user</a></div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 center">
        <a href="./tasks/create" class="waves-effect waves-light btn-large"><i class="large material-icons left">mode_edit</i>Create new task</a></div>
    </div>
    </div>
    <div class="row">
      <div class="input-field col s12 center">
        <a href="./tasks" class="waves-effect waves-light btn-large"><i class="large material-icons left">list</i>See all tasks</a></div>
    </div>
    </div>
  </body>
</html>
