<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/stylesheets/folder/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/folder/css/bootstrap.css" rel="stylesheet">

  </head>
  <body>


<div class="container">
<h1 class="">HALAMAN TODO</h1>



</div>
  </body>
</html>
