<!DOCTYPE html>
<html>
  <head>
    <title> Restful CRUD </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Restful CRUD by Zulfikar</h1>
    <form class="" action="/users/todo" method="post">
    <input type="text" name="user_email" placeholder="Input your email here">
    <button type="submit" name="button"> Login / Signup </button>
    </form>
  </body>
</html>
