<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css">
  </head>
  <body>
    <h3>TODOs Memo</h3>
    <p>Welcome to Memo's</p>
    <hr width="40%" align="left">
    <a class="waves-effect waves-light btn" href="/users/add_user">INPUT USER</a>
    <a class="waves-effect waves-light btn" href="/users">INPUT MEMO</a>
    <a class="waves-effect waves-light btn" href="/shows/show">SHOW MEMO</a>
  </body>
</html>
