<!DOCTYPE html>
<html>
  <head>
    <title> Restful CRUD For id <%- id %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- add task -->
    <form action="/users/todo/add" method="get">
      <input type="text" name="title" placeholder="Input your task here">
      <input type="text" name="email_id" value="<% -id %>">
      <button type="submit" name="button">Add Task</button>
    </form>
    <!-- show task -->
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Completed</th>
          <th>Created at</th>
        </tr>
      </thead>
        <tbody>
          <% todos.forEach((todo)=>{ %>
            <tr>
            <td> <%=todo.title%> </td>
            <td> <%=todo.is_complete%> </td>
            <td> <%=todo.creatdAt%> </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
  </body>
</html>
