<%- include ./partials/header.ejs %>
  <body>
    <div class="container">
      <h3>TODO LIST</h3>
      <table class="striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Completeness</th>
            <th>User Email</th>
            <th>CreatedAt</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((d) => {  %>
          <tr>
            <td><%= d.title %></td>
            <% if (!data.is_complete || null) {%>
              <td>belum selesai</td> <% } else { %>
              <td>selesai</td> <% } %>
            <% if (d.User !== null) {%>
            <td><%= d.User.email %></td><% } else { %>
            <td>-</td> <% } %>
            <td><%= d.createdAt %></td>
            <td>
              <a href='/user/edit/'>edit</a>
              <a href="#modal1">delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <hr style="margin-bottom: 40px">
      <h4>New Task</h4>
      <form class="/" action="" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input type="text" id="task" name="task" value="" required class="validate">
            <label for="task">Task</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Submit</button>
      </form>
      <br><br>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h5>Delete this task?</h5>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">NO</a>
          <a href="/user/delete/id" class="modal-action waves-effect waves-green btn-flat" method="post">YES</a>
        </div>
      </div>


    </div>
  </body>
</html>
