<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <% include ../partials/nav %>
        <h3 class="text-muted">EXPRESS TODOS</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">EXPRESS RESTFUL CRUD</h1>
      </div>

      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
