<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <div class="container">
    <div class="header clearfix">
      <% include ../partials/nav %>

    </div>

    <div class="col-md-4" style="margin-top:50px">

      <label style="margin-bottom:30px">ADD USER
      <a href="/todo/add"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button></a>
      </label>
    </div>

<div class="container">
  <table class="table table-striped" style="margin-top:50px">
    <thead class="thead-inverse">
      <tr>
        <th>No</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach((user,i)=> {%>
      <tr>
        <td><%-i+1%></td>
        <td><%-user.email%></td>
        <td>
          <a href="/user/edit/<%-user.id%>"><button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button></a>
          <a href="/user/delete/<%-user.id%>" onclick="return confirm('Are you sure?')"><button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button></a>
        </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>


  </div>

</body>

</html>
