<% include ../partials/header %>

      <div class="container">
        <div class="row">
          <h4><%= `Edit User` %></h4>
            <form action="/users/update/<%= users.id %>" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Input task" name="name" value="<%= users.name %>" id="name" type="text" class="validate">
                        <label for="name"> Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Input Email" name="email" value="<%= users.email %>" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

      </div>
    </div>

    <% include ../partials/footer %>
