<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1> Sign Up </h1>
    <form action="/users/create" method="post">
      <input type="text" name="name" placeholder="Please input your name here">
      <input type="text" name="email" placeholder="Please input your email here">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>