<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Todo Apps</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <h4>Add Todos</h4>
      <form class="col s12" action="create" method="post" id="formValidate">
        <div class="row">
          <div class="input-field col s6">
            <label for="task">
              Task
              <input type="text" name="task" value="" class="validate" placeholder="Input task" required>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-filed col s12">
            <label for="">Checklist Completed</label>
            <br>
          </div>
          <div class="input field col m4 s6">
            <label for="">
              Completed
              <input type="checkbox" name="completed" value="">
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="input-field col s6">
            <select class="validate" name="user_id" requiered>
              <option disabled selected>Choose your option</option>
              <% if(users.length == null || users.length == 0){ %>
                <option value="0"><%= `user empty` %></option>
                <% } else { users.forEach((user)=>{ %>
                  <option value="<%= user.id %>"><%= user.email %></option>
                  <% }) } %>
                </select>
                <label for="">Select User</label>
              </div>
            </div>
            <div class="row">
              <div class="input-filed col s6">
                <button type="submit" name="button" class="btn">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <footer class="page-footer teal">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">E OTORENT COMPANY</h5>
              <p class="grey-text text-lighten-4">Kami adalah sebuah perusahaan penyewa mobil yang berada di Jakarta. Kami beriorientasi pada jasa penyewaan mobil dan keragaman mobil. Telp : (021)89096788 email : deri@gmail.com</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Facebook</a></li>
                <li><a class="white-text" href="#!">Tweeter</a></li>
                <li><a class="white-text" href="#!">Github</a></li>
                <li><a class="white-text" href="#!">blog</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">About Us</a></li>
                <li><a class="white-text" href="#!">Location</a></li>
                <li><a class="white-text" href="#!">Rent Agreement</a></li>
                <li><a class="white-text" href="#!">Carrier</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Deri Kurniwan Materialize CSS</a>
          </div>
        </div>
      </footer>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="javasripts/materialize.js"></script>
      <script src="javascripts/init.js"></script>

    </body>
    </html>
